<!DOCTYPE html>
<html>
    <head>
        <title>CS340 - Final Project</title>
    </head>
    <body>
        <header class="header-fixed">
            <div class="header-limiter">
                <nav>
                    <a href="/">Home </a>
                    <a href="/products">Products</a>
                    <a href="/customers">Customers</a>
                    <a href="/orders">Orders</a>
                    <a href="/salespeople">Sales People</a>
                    <a href="/new-order">Place a New Order</a>
                    <a href="/view-latest">View Latest</a>
                    <a href="/add-product">Add a Product</a>
                    <a href="/add-customer">Add a new Customer</a>
                    <a href="/add-salesperson">Add a new Sales Person</a>
                </nav>
            </div>
        </header>

        {{{ body }}}



    </body>
</html>