<div>
  <h2>Add new Customer</h2>
  <form id="add-customer" action="/customers" method="POST">
    First name:<br>
    <input type="text" name="fname_input" required><br>
    Last name:<br>
    <input type="text" name="lname_input" required><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
