<div>
  <h2>Add new Customer</h2>
  <form id="add-customer" action="/new-customer" method="POST">
    First name:<br>
    <input type="text" name="first_name">
    <br>
    Last name:<br>
    <input type="text" name="last_name">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
