<h1>What is this database?</h1>
<h2>Definitions</h2>
<p>
    <div class="text-block">
        This database includes 4 primary entities:
        <ul>
            <li>Products</li>
            <li>Orders</li>
            <li>Customers</li>
            <li>Salespeople</li>        
        </ul>
    </div>
</p>

<div class="desc-box">
    <h2>Description of entities:</h2>
    <h3>Products</h3>
    <div class="text-block">
        <p>
            Products are items to be sold by the store. Products are ordered by customers. One customer can order many products, and one product
            can be in many orders. 
        </p>
    </div>

    <h3>Orders</h3>
    <div class="text-block">
        <p>
            Orders consolidate information about what a products a given customer has decided to purchase, and which sales rep is assigned to work 
            with the customer   
        </p>
    </div>

    <h3>Customers</h3>
    <div class="text-block">
        <p>
            Customers are people which seek to purchase a particular product. One customer may use one sales rep to help
            them place orders. 
        </p>
    </div>

    <h3>Salespeople</h3>
    <div class="text-block">
        <p>
            Salespeople are internal employees tasked with serving as the liaison and sales rep for customers. One sales person
            may have various customers in a one-to-many relationship. 
        </p>
    </div>
</div>


