<h1>Orders</h1>

<div>
    <table>
        <thead>
            <th>Order ID</th>
            <th>Salesperson ID</th>
            <th>Products</th>
        </thead>

        <tbody>
            {{#each orders}}
            <tr>
                <td>{{cid}}</td>
                <td>Salesperson id: {{sid}}</td>
                <td><button onclick="deleteOrder({{cid}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>

    </table>

</div>